body {
    background-color: #FFF677;
    margin: 0px;
    height: 1vh;
}

.contentContainer {
    margin: 10px;
    width: auto;
    height: 98vh;
    border: solid black;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: xxx-large;
    margin: 0px;
}

h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: xx-large;
    margin: 0px;
}

h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: large;
    margin: 0px;
}

p {    
    font-family: 'Tenor Sans', sans-serif;
    font-size: medium;
    font-weight: 700;
    margin: 15px 40px 30px;
}

a {
    text-decoration: none;
    color: black;
}

#hamburger_menu {
    display: none;
}

.hamburger_menu {
    display: none;
    position: absolute;
    right: 40px;
    top: 40px;
}

#hamburger_menu:checked ~ nav {
    display: block;
    z-index: 1000; 
    position: fixed;
}

footer {
    position: relative;
    bottom: 0px;
}

.footerLinks {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerLinks i {
transition: 0.25s ease-in-out;
}

#facebook:hover {
    color: #1877F2;
}

#soundcloud:hover {
    color: #ff7700;
}

#linkedin:hover {
    color: #0a66c2;
}

.footerLinks i:hover {
    transform: scale(1.5);
}

.legal {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Tenor Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    background-color: #FFF677;
    border: solid black;
    border-width: 2px 4px 4px 2px;
    transition-duration: 0.25s;
    min-width: 100%;
}

button:hover {
    transform: translateY(5px);
    border-width: 2px;
    background-color: #FFFAB2;
}


nav {
    display: none;
    position: relative;
    right: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    z-index: 4;  
}

ul li {
    list-style: none;
}

ul li button {
    font-size: x-large;
    width: 250px;
    max-width: 100%;
}

header {
    margin: 80px 40px;
}

.topic {
    margin-left: 40px;
}

.cableindex {
    position: relative;
    top: 200px;
    border: solid black 1px;
}

.cable { 
    position: relative;
    border: solid black 2px;
}

.indexBirdMenu {
    position: relative;
    top: 135px;
    display: flex;
    justify-content: end;
    gap: 75px;
    margin-right: 135px;
}

.birdMenu {
    position: relative;
    top: -95px;
    display: flex;
    justify-content: end;
    gap: 75px;
    margin-right: 135px;
}

.birdLink {
    display: flex;
    align-items: center;
}

.indexBirdMenu a{
    display: flex;
    justify-content: end;
    margin: 0px 20px;
}

.birdMenu a{
    display: flex;
    justify-content: end;
    margin: 10px 20px;
    z-index: 3;
}

a h3 {
    margin-top: -45px;
    margin-left: 10px;
}

.birdMenu h3 {
    margin-top: -10px;
    margin-left: 10px;
}

/*Projects*/
#projects {
    position: relative;
    background-color: #A7D6FF;
    width: 100%;
    height: auto;
    top: -172px;
    left: -2px;
    z-index: 0;
    border: 2px solid black;
}

.projectsContainer {
    margin: 0px 0px 30px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.flexContainerProjects {
    margin-top: 80px;
}

.flexContainerProjects h2 {
    margin-left: 20px;
}

.projectContainer {
    max-width: 400px ;
    border: solid black;
    border-width: 2px 8px 8px 2px;
    background-color: #FFF677;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 80px 20px;
}

.projectImageContainer {
    width: 100%;
    max-width: 350px;
    display: flex;
    margin: 20px;
    border: solid black;
    border-width: 2px 8px 8px 2px;
    overflow: hidden;
}

.projectImageContainer img {   
    width: 100%;
    max-width: 350px;
    transition:  0.25s ease;
}

.projectImageContainer img:hover  {
    transform: scale(1.1);
}

.popupScreenshot {
    position: fixed;
    top:0; 
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1000;
}

.popupBackground {
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

.popupScreenshot img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 850px;
    margin: auto;
    z-index: 10;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 8;
}

.popupScreenshot span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 5rem;
    cursor: pointer;
} 

/*Contact*/
#contact {    
    position: relative;
    background-color: #FFD6FD;
    width: 100%;
    height: 618px;
    top: -172px;
    left: -2px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#contact h2{
margin-left: 20px;
}

.contactInfoContainer {
    max-width: 400px;
    border: solid black;
    border-width: 2px 8px 8px 2px;
    background-color: #FFF677;
    margin: 0px 20px 80px 20px;
}

.contactInfoContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contactInfoContainer div p {
    margin: 10px;
}

.contactInfoContainer p a{
    text-decoration: underline;
}

/*About*/
#about { 
    position: relative;
    background-color: #F2ECE4;
    width: 100%;
    height: 618px;
    top: -170px;
    left: -2px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#about h2 {
    margin: 80px 20px 0px 20px;
    margin-top: 80px;
}

.aboutMeContainer {
    max-width: auto;
    border: solid black;
    border-width: 2px 8px 8px 2px;
    background-color: #FFF677;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 80px 20px;
}

.imageAboutContainer img{
    max-width: 200px;
    margin: auto;
    display: flex;
    margin: 20px;
    border: solid black;
    border-width: 2px 8px 8px 2px;;
}

.infoAboutContainer {
    max-width: 400px;
}

@media only screen and (max-width: 800px) {
    .hamburger_menu {
        display: block;
    }

    #about {
        height: auto;
        top: -3px;
    }

    #projects {
        top: -3px;
    }

    .flexContainerProjects {
        margin: 0px;
        margin-top: 20px;
    }

    .projectsContainer {
        gap: 0px;
    }

    .popupScreenshot img {
        width: 95%;
    }

    #contact {
        top: -4px;
    }

    .aboutMeContainer {
        max-width: 400px;
    }

    .birdMenu, .indexBirdMenu{
        display: none;
    } 

}